# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android
.gradle/
android/.gradle/
android/local.properties

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
